
<div class="div-center">

      <input matInput  class="form-control mr-sm-2 input" type="text" placeholder="Lieu" aria-label="Lieu"[matAutocomplete]="auto" [(ngModel)]="location" >
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option (onSelectionChange)="setCoordinates()" *ngFor="let option of options" [value]="option">
               {{ option }}
        </mat-option>
      </mat-autocomplete>
      <input matInput  class="form-control mr-sm-2 input" type="search" placeholder="Search" aria-label="Search" [(ngModel)]="term">
       <mat-select class="selectpicker form-control input" [(ngModel)]="drop" >
           <mat-option *ngFor="let category of categories" [value]="category.title">{{category.title}}</mat-option>
       </mat-select>
      <button  class="btn btn-outline-success my-2 my-sm-0" type="button"  (click)="searchBusinessToolbar()">Search</button>

</div>

