<mat-card class="map">

  <agm-map style="height: 300px" [latitude]="ConvertString(dataresults[0]['coordinates'].latitude)" [longitude]="ConvertString(dataresults[0]['coordinates'].longitude)" [zoom] = "11">
    <agm-marker *ngFor="let result of dataresults" [latitude]="ConvertString(result['coordinates'].latitude)" [longitude]="ConvertString(result['coordinates'].longitude)">
      <agm-snazzy-info-window  [closeWhenOthersOpen]="true">
        <ng-template class="snazzy-window si-content-wrapper">

          <span><img  class="photo-box-img image-snazzy" height="60" src="{{result.image_url}}"   width="60"></span>
          <span class="left">{{result.name}}</span>
          <span class="left"><star-rating-comp [starType]="'svg'" [rating]="result.rating" [labelText]="result.review_count" [labelPosition]="'right'" [showHalfStars]="true" [readOnly]="true" ></star-rating-comp></span>

        </ng-template>
      </agm-snazzy-info-window>
    </agm-marker>
  </agm-map>
</mat-card>
