
<mat-card class="tab">
  <table class="table" style="width: 100%;">
    <thead class="thead-default">
    <tr>
      <th>id</th>
      <th>name</th>
    </tr>
    </thead>
    <tr *ngFor="let result of dataresults" >
      <td> <img  class="photo-box-img image" height="90" src="{{result.image_url}}"   width="90"></td>

      <td>


        <div class="left">{{result.name}}</div>
      </td>
      <td>
        <div class="left"><star-rating-comp [starType]="'svg'" [rating]="result.rating" [labelText]="result.review_count" [labelPosition]="'right'" [showHalfStars]="true" [readOnly]="true" ></star-rating-comp></div>
      </td>
      <td>
        <div class="left">{{result.price}}</div>
      </td>
      <td>
        <div style="float:right">{{result.display_phone}}</div>
        <div style="float:right">{{result.display_address}}</div>

      </td>

    </tr>
    </tbody>
  </table>

</mat-card>
