agm-map {
  width: 100%;
  height: 400px;
}
.example-container {
  width: 90%;
  margin-left: 5%;
  height: auto;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.tab{
  width: 50%;
  float: left;
  margin-left: 5%;
  border-radius:15px;
}
.left{
  float:left;
  position:relative;
}
.snazzy-window{
  width: 300px;
  height: 300px;
}
.image-snazzy{
  float:left;
  position:relative;
  border-radius: 15px;
}
.si-content-wrapper {
  width: 300px;
}
.map{
  width: 35%;
  float: right;
  position: fixed;
  display: unset;
  border: 0;
  opacity: 0.9;
  margin-right: 5%;
  vertical-align: baseline;
  border-radius:15px;
}
.image{
  border-radius:15px;
}
