
<mat-toolbar class="opacity">
  <mat-toolbar-row>
    <span class="navbar-brand" routerLink="/" routerLinkActive="active" (click)="this.isButtonVisible=false">Business finder</span>

    <span><input *ngIf="this.isButtonVisible" class="form-control mr-sm-2 " type="text" placeholder="Lieu" aria-label="Lieu" [matAutocomplete]="auto" [(ngModel)]="location" >
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option (onSelectionChange)="setCoordinates()" *ngFor="let option of options" [value]="option">
        {{ option }}
       </mat-option>
     </mat-autocomplete>
    </span>

    <span><input *ngIf="this.isButtonVisible" class="form-control mr-sm-2 " type="search" placeholder="Search" aria-label="Search" [(ngModel)]="term"></span>
    <span *ngIf="this.isButtonVisible" class="input" >
       <mat-select class="selectpicker form-control" [(ngModel)]="drop">
            <mat-option *ngFor="let category of categories" [value]="category.title">{{category.title}}</mat-option>
       </mat-select>
    </span>

    <span><button *ngIf="this.isButtonVisible" class="btn btn-outline-success my-2 my-sm-0" type="button"  (click)="searchBusinessToolbar()">Search</button></span>
  </mat-toolbar-row>
</mat-toolbar>
